.marginNav{
    margin-left:20px
}
.marginCart{
    margin-right:20px
}

.marginSections{
    gap: 20px;
}

.sectionStyle{
    text-decoration: none;
    color: white;
}
.sectionActive{
    color: white;
    font-weight: bold;
}
.sectionStyle:hover{
   color: white;
   font-weight: bold;
}
.sectionActive:hover{
    color: white;
    font-weight: bold;
}